.default-background, .about-background{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 225, 0, 0.5), rgba(255, 158, 9, 0.5));
  background-position:center;
  background-size:cover;
  z-index:3;
}
.about-background{
  min-height: 60vh;
}
